

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://static.vinepair.com/wp-content/uploads/2016/05/fresh-herb-cocktails-2.jpg);">
    <div class="container">
      <h1>Moodtails</h1>
      <p>Cocktails for every mood</p>
    </div>
</div>


<div class="container text-center">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to cocktail_path(cocktail.id), class: "card-link" do %>
          <div class="card">
            <%= cl_image_tag @cocktail.photo %>
            <div class="card-infos">
                <h2><%= cocktail.name %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="flex-center-container">
  <%= link_to "Add new cocktail", new_cocktail_path, class: "btn btn-ghost" %>
</div>
