<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://static.vinepair.com/wp-content/uploads/2016/05/fresh-herb-cocktails-2.jpg);">
  <div class="container">
    <h1>Cocktails for every mood</h1>
    <p>It's always 5 o'clock somewhere...</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-4">
        <%= link_to cocktail_path(cocktail.id), class: "card-link" do %>
          <div class="card-cocktail">
            <img src="https://i.pinimg.com/originals/3b/e8/4f/3be84f60f80fc652eddb4fb5386f3835.jpg">
            <div class="card-cocktail-infos">
                <h2><%= cocktail.name %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="flex-center-container">
  <%= link_to "Add new cocktail", new_cocktail_path, class: "btn btn-ghost" %>
</div>
